.aboutus_img {
  /* width: 100%; */
  height: 100vh;
  opacity: 0.6;
}

.aboutus_herosection {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus_info {
  position: absolute;
  top: 10%;
  width: 60%;
  color: aliceblue;
  background-color: rgba(54, 52, 52, 0.869);
  padding: 25px;
}
.aboutus_info2 {
  position: absolute;
  top: 45%;
  width: 60%;
  color: aliceblue;
  background-color: rgba(54, 52, 52, 0.869);
  padding: 25px;
}
@media only screen and (max-width: 700px) {
  .aboutus_herosection {
    height: 100vh;
  }
  .aboutus_info2 {
    top: 50%;
    width: 80%;
  }
  .aboutus_info {
    top: 7%;
    width: 80%;
  }
}
.aboutus_info h3,
.aboutus_info2 h3 {
  margin: 0 0 9px 0;
}
