.container,
.pricing_table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  margin: auto;
}
.pricing_table {
  margin: 10px 0 30px 0;
}
.price_row {
  display: flex;
  width: 70%;
  margin: 2px;
  padding: 5px;
  border: 1px solid grey;
  align-items: center;
}
.container {
  width: 90%;
}
@media only screen and (max-width: 1000px) {
  .price_row {
    width: 95%;
  }
}
.pricing_table {
  width: 100%;
}
.price_row_left {
  width: 80%;
  border-right: 1px solid grey;
  font-weight: bold;
}
.price_row_right {
  width: 20%;
  text-align: center;
  background-color: rgba(255, 247, 0, 0.57);
  font-weight: bolder;
}
