.navbar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar_content {
  background-color: rgba(236, 229, 37, 0.488);
  width: 100%;
  text-align: center;
}
.navbar_img {
  height: 100px;
}
