.footer_container {
  width: 100%;
}
.up {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  background-color: #fbe206e8;
  font-size: small;
}
.down {
  background-color: #f8ec87;
  width: 100%;
  color: black;
  text-align: center;
  padding: 5px 0;
}
.footer_left,
.footer_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: black;
  margin: 2px;
}
